/* banner */
.banner {
    background-color: #4fb3d4;
    background-image: url("../assets/asset_32.png");
    background-size: 300px;
}

.banner__text {
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}