// companies-section

.companies {
  &__header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
  }

  &__logos {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    height: 46px;
  }
}
