// cta section

.cta__section {

    padding: 120px var(--padding-inline-section) 80px;
    background-color: #183B54;

    &__container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        color: white;

        p {
            color: white;
            margin-top: 20px;
        }
    }
}