// features-section

.features {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url("../assets/asset_34.svg");
  background-repeat: no-repeat;
  background-position: center;

  &__header {
    text-align: center;
  }

  &__heading__text {
    margin-bottom: 20px;
  }

  &__area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
  }

  &__card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;

    img {
      width: 60px;
    }
  }
}
