/* features-section */
.features__header {
    text-align: center;
}

.features__heading__text {
    margin-bottom: 20px;
}

.features__section {
    padding: 80px var(--padding-inline-section) 0;
    background-image: url("../assets/asset_34.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.features__area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.features__card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;

}

.features__card img {
    width: 60px;
}