// header-section
.header {
    padding: 50px var(--padding-inline-section) 0;

    &__section {
        justify-content: center;
        gap: 50px;
    }

    &__left {
        max-width: 40vw;

        h1 {
            margin-top: 20px;
        }
    }

    &__cta {
        margin-top: 20px;
    }

    &__right {
        img {
            width: 600px;
        }
    }
}