.nav__container {
    margin-top: 20px;
    justify-content: space-between;
}

.company-logo img {
    width: 200px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}