.nav {
  &__container {
    margin-top: 20px;
    justify-content: space-between;
  }

  &__company-logo {
    img {
      width: 200px;
    }
  }

  &__links {
    flex-basis: 730px;

    ul {
      justify-content: end;
      gap: 40px;
    }
  }
}
